{% extends 'pobox_zero/base.html' %} {% block content %} {% if form.errors %}
<p>Please try again.</p>
{% endif %} {% if next %}
<p>Please login to see this page.</p>
{% endif %}
<section style="height: 85vh;">
  <div class="card mx-auto mt-5" style="width: 60%;">
    <h1 class="card-header custom-h1">Edit Profile</h1>

    {% load crispy_forms_tags %}
    <form
      method="post"
      action="{% url 'edit_profile' %}"
      class="card-body"
      style="margin-left: 5%;"
    >
      {% csrf_token %} {{ form|crispy }}
      <input type="submit" class="btn btn-success" value="save" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br />
  </div>
</section>
{% endblock %}
