<!DOCTYPE html>
{% load static %}
<!-- Load Bootstrap -->
{% load bootstrap4 %}

<!-- Load CSS and JavaScript -->
{% bootstrap_css %} {% bootstrap_javascript jquery='full' %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PO Box ZERO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:700|La+Belle+Aurore|Roboto+Mono|Source+Code+Pro:600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b0143965dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar sticky-top navbar-expand-md custom-navbar navbar-light border-bottom border-dark"
    >
      <a class="nav-link custom-brand mb-0" href="/">PO Box ZER0 &nbsp;>> </a>
      <!-- responsive toggle to hamburger icon -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- nav bar items -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a
            class="nav-item nav-link greet-user"
            href="{% url 'edit_profile' %}"
            >Hello {{ user.username }}!
          </a>
          <a class="nav-item nav-link" href="{% url 'postcard_create' %}">
            – Write a postcard
          </a>
          <a class="nav-item nav-link" href="{% url 'favorites' %}">
            - <i class="fas fa-star"></i> Your Favorites
          </a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">– LogOut</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'postcard_create' %}">
            – Write a postcard
          </a>
          <a class="nav-item nav-link" href="{% url 'login' %}">
            – LogIn
          </a>
          <a class="nav-item nav-link" href="{% url 'signup' %}"> – SignUp</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <main
      class="h-100"
      style="
        background-image: linear-gradient(
          to top,
          rgba(251, 185, 40, 0),
          rgba(251, 185, 40, 0.5)
        );
        height: 85vh;
      "
    >
      {% block content %} {% endblock %}
    </main>
    <footer
      class="footer py-auto fixed-bottom"
      style="background-color: rgb(251, 185, 40);"
    >
      <div class="container pt-2">
        <span class="text-muted footer-text"
          >by
          <a href="https://aldo-marukot.netlify.app/" target="_blank"
            >Aldo Marukot</a
          >
          | Copyright 2020</span
        >
      </div>
    </footer>
  </body>
</html>
