{% extends 'pobox_zero/base.html' %} {% load static %} {% block content %}
<section>
  {% if faves %} {% for fave in faves %}

  <div class="custom-thumb card shadow">
    <a class="" href="{% url 'postcard_detail' pk=fave.id %}">
      <img
        src="{{ fave.image.url }}"
        class="img-fluid postcard-th"
        alt="{{ fave.heading }}"
      />
      <div class="card-img-overlay">
        <span class="custom-caption-sm">{{ fave.heading }}</span>
      </div>
    </a>
  </div>
  {% endfor %} {% else %}
  <div>
    <h2 class="custom-h2 mt-5 text-center" style="height: 85vh;">
      You have not favorited any postcards yet.
    </h2>
  </div>
  {% endif %}
</section>
{% endblock %}
