{% extends 'pobox_zero/base.html' %} {% block content %}
<div class="card mx-auto mt-5" style="width: 60%;">
  <h1 class="card-header custom-h2">New Postcard</h1>
  {% load crispy_forms_tags %}
  <form method="POST" class="card-body" style="margin-left: 5%;">
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
    {{ form.heading|as_crispy_field }} {{ form.message|as_crispy_field }}
    <div>
      {{ form.image_url|as_crispy_field }}
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
{% endblock %}
