{% extends 'pobox_zero/base.html' %} {% block content %}
<!-- Load Bootstrap -->
{% load bootstrap4 %}

<!-- Load CSS and JavaScript -->
{% bootstrap_css %} {% bootstrap_javascript jquery='full' %}

<div>
  <div class="postcard-img ">
    <img src="{{ postcard.image_url }}" class="inner-img img-thumbnail" />
  </div>
  <h2>
    {{ postcard.heading }}
    <a href="{% url 'postcard_edit' pk=postcard.id %}">(edit)</a> |
    <a href="{% url 'postcard_delete' pk=postcard.id %}">(del)</a>
  </h2>
  <p>{{ postcard.message }}</p>
  <p>-- {{ postcard.sender.name }}</p>
</div>

{% endblock %}
