{% extends 'pobox_zero/base.html' %} {% block content %}
<section class="mt-3">
  <h2 class="px-5 pt-5 custom-h2">Pick a postcard...</h2>

  <div class="card-columns mx-auto" style="width: 80%;">
    {% for postcard in postcards %}

    <div class="custom-thumb card shadow">
      <a class="" href="{% url 'postcard_detail' pk=postcard.id %}">
        <img
          src="{{ postcard.image_url }}"
          class="img-fluid postcard-th"
          alt="{{ postcard.heading }}"
        />
      </a>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
