{% extends 'pobox_zero/base.html' %} {% block content %}
<section class="pt-5">
  <div class="card mx-auto custom-postcard-main shadow">
    <div class="row no-gutters ">
      <div class="col-md-8">
        <img
          src="{{ postcard.image.url }}"
          class="custom-card-detail-img"
          alt="{{postcard.heading}}"
        />
      </div>
      <div class="col-md-4 ">
        <div class="card-body">
          <h5 class="card-title custom-heading-txt">
            {{ postcard.heading }}
          </h5>

          <p class="card-text custom-msg-txt">{{ postcard.message }}</p>
        </div>
        <hr />
        {% if user.is_authenticated %}

        <!-- Favorite/Unfavorite -->
        <div class="favorites mb-1 card-body">
          {% csrf_token %} {% if is_fave %}
          <a href="{% url 'postcard_favorite' pk=postcard.id %}">
            <i class="fas fa-star fa-lg"></i> Un-favorite
          </a>
          {% else %}
          <a href="{% url 'postcard_favorite' pk=postcard.id %}">
            <i class="far fa-star fa-lg"></i> Favorite
          </a>
          {% endif %}
          <!--  -->
        </div>
        <div class="edit-delete mb-0 card-footer bg-transparent">
          <a
            class="btn btn-sm btn-warning mb-0"
            href="{% url 'postcard_edit' pk=postcard.id %}"
            >edit</a
          >
          <a
            class="btn btn-sm btn-danger"
            href="{% url 'postcard_delete' pk=postcard.id %}"
            >delete</a
          >
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
